In [2]:
import pandas as pd
data = pd.read_csv("C:\Data Analyssis\Task1\Demographic_Data.csv")
data.head(10)

   in-store  age  items     amount  region
0         0   37      4   281.0300       2
1         0   35      2   219.5100       2
2         1   45      3  1525.7000       4
3         1   46      3   715.2500       3
4         1   33      4  1937.5000       1
5         0   24      3  1314.2000       4
6         0   43      6     8.5472       2
7         1   66      5   819.9800       3
8         1   51      5   908.3100       1
9         1   47      3   767.5400       1

The first error I ecountered, I used data = pd.read.csv("C:\Data Analyssis\Task1\Demographic_Data.csv")  which returned following error

ttributeError                            Traceback (most recent call last)
<ipython-input-1-c84bae0fd6cb> in <module>
      1 import pandas as pd
----> 2 data = pd.read.csv("C:\Data Analyssis\Task1\Demographic_Data.csv")
      3 data.head(10)

C:\ProgramData\Anaconda3\envs\datascience-env\lib\site-packages\pandas\__init__.py in __getattr__(name)
    260             return _SparseArray
    261 
--> 262         raise AttributeError(f"module 'pandas' has no attribute '{name}'")
    263 
    264 

AttributeError: module 'pandas' has no attribute 'read'

Groupby returned expoential value for amount, I had to change the data type to integer

In [3]:
data.groupby(("region")).sum().sort_values("amount", ascending=False)

        in-store      age   items        amount
region
4          13001  1007519  117090  3.338535e+07
3          10999   821645   80892  1.652345e+07
1          16000   699263   72161  1.192258e+07
2              0  1132207   90255  5.042184e+06

Had problem with import export_graphviz, I had to download it from the site and install and added to windows path

I am still not very clear on slicing, seperating in to bins(I couldn't get following to work and still can't) and some graphs plotting in Python using Matplotlib was hard too.

In [ ]:
X_train_data = pd.DataFrame['age']

bins= [0,2,4,13,20,110]
labels = ['Infant','Toddler','Kid','Teen','Adult']
X_train_data['AgeGroup'] = pd.cut(X_train_data['Age'], bins=bins, labels=labels, right=False)
print (X_train_data)

Couldn't get following line graph to work correctlu

In [ ]:
import matplotlib.pyplot as plt
dfpl2.plot(kind='line',x='items',y='amount',color='red')
plt.show()

Installing python lib using PIP was OK, didn't encounter much problem, the steps were very clear.

In the cross_value_score , i had to set the CV to 3 return 3 scores

In [ ]:
#classification
results = []
names = []
for name, model in algos_Class:
    result = cross_val_score(model, X,y, cv=3, scoring='accuracy')
    names.append(name)
    results.append(result)

Couldn't get the model to create correctly but figured that the features were not correctly set and had to sepcify the depth to 4 to the processing to finish and return the model.

In [ ]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

dot_data = StringIO()


export_graphviz(model, out_file=dot_data,
                                        feature_names=X.columns,
                                        class_names=region_values,label='all',precision=1,
                                        filled=True, rounded=True,
                                        special_characters=True,max_depth=4)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue()) 
graph.write_png('cutd.png')
Image(graph.create_png())

Sometime I have to wait for notebook to process and return the results, and I have to start from the begining after reloading the notebook.